<div class="container-fluid features-gradient">
  <div class="row py-5">
    <h1 class="display-6 text-uppercase text-center my-5">
      &hyphen; Why you&apos;ll love this network &hyphen;
    </h1>

    <!-- Feature 1 -->
    <div class="col-9 my-4">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4 order-md-first d-flex align-items-center"> <!-- Add d-flex and align-items-center -->
            <img src="/assets/images/placeholder.webp" class="img-fluid mx-auto" alt="Feature 4 Image">
            <!-- Add mx-auto class for horizontal centering -->
          </div>
          <div class="col-md-8 text-center px-5">
            <div class="card-body">
              <h5 class="card-title">
                <span class="border-bottom border-4 border-secondary pb-2">01</span><br>
                <p class="pt-4 text-uppercase">Learning</p>
              </h5>
              <p class="card-text">
                Learning/educational opportunities, CMEs, Webinars, Resources
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="col-9 my-4 offset-md-3">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4 order-md-last d-flex align-items-center"> <!-- Add d-flex and align-items-center -->
            <img src="/assets/images/placeholder.webp" class="img-fluid mx-auto" alt="Feature 4 Image">
            <!-- Add mx-auto class for horizontal centering -->
          </div>
          <div class="col-md-8 text-center px-5">
            <div class="card-body">
              <h5 class="card-title">
                <span class="border-bottom border-4 border-secondary pb-2">02</span>
                <p class="pt-4 text-uppercase">Connect</p>
              </h5>
              <p class="card-text">
                Community, Modality/Subspecialty Teams
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Feature 3 -->
    <div class="col-9 my-4">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4 order-md-first d-flex align-items-center"> <!-- Add d-flex and align-items-center -->
            <img src="/assets/images/placeholder.webp" class="img-fluid mx-auto" alt="Feature 4 Image">
            <!-- Add mx-auto class for horizontal centering -->
          </div>
          <div class="col-md-8 text-center px-5">
            <div class="card-body">
              <h5 class="card-title">
                <span class="border-bottom border-4 border-secondary pb-2">03</span>
                <p class="pt-4 text-uppercase">Network</p>
              </h5>
              <p class="card-text">
                Peers and Experts in the field, Opportunities Arising
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Feature 4 -->
    <div class="col-9 my-4 offset-md-3">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4 order-md-last d-flex align-items-center"> <!-- Add d-flex and align-items-center -->
            <img src="/assets/images/placeholder.webp" class="img-fluid mx-auto" alt="Feature 4 Image">
            <!-- Add mx-auto class for horizontal centering -->
          </div>
          <div class="col-md-8 text-center px-5">
            <div class="card-body">
              <h5 class="card-title">
                <span class="border-bottom border-4 border-secondary pb-2">04</span>
                <p class="pt-4 text-uppercase">Collaborate</p>
              </h5>
              <p class="card-text">
                Research Papers, Publications, Professional Advocacy
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid bg-dark text-light">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-5 mb-4 mx-5">
    <div class="col-md-4 d-flex align-items-center">
      <i class="bi bi-heart-pulse display-6"></i>
      <span class="mb-3 ms-3 mb-md-0">RRN &copy; 2024</span>
    </div>

    <div class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <p>
        <i class="bi bi-chat-right-quote"></i>
        Questions or comments?
        <a href="https://forms.gle/MgY5P9Gq1jCrspia8" target="_blank" class="text-danger">Drop us a line</a>
      </p>
    </div>
  </footer>
</div>