<div class="bg-img d-flex flex-column justify-content-between h-100">
  <div class="top-left fixed-top">
    <p class="mb-0 text-md-center text-lg-start">
      <i class="bi bi-heart-pulse"></i>
      RADIOGRAPHY RESOURCE NETWORK
    </p>
  </div>
  <div class="middle">
    <h1>
      <img src="/assets/images/system-regular-67-clock.gif" />
      COMING SOON!
      <img src="/assets/images/system-regular-46-notification-bell.gif" />
    </h1>
    <hr />
    <p id="countdown" class="mb-0">
      <i class="bi bi-stopwatch"></i>
      {{ timeLeft }}
    </p>
  </div>
  <div class="bottom-left fixed-bottom">
    <p class="mb-0 text-center">CONNECT . COLLABORATE . LEARN . GROW</p>

    <p class="text-center">
      <small class="text-muted">Photo by
        <a href="https://unsplash.com/@nck?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nick
          Scheerbart</a>
        on
        <a
          href="https://unsplash.com/photos/aerial-photography-of-hanging-bridge-near-trees-xFjAftU8lMY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      </small>
      .
      <small class="text-muted">Animated Icons by
        <a href="https://lordicon.com/">Lordicon.com</a>
      </small>
    </p>
  </div>
</div>