<div class="container-fluid d-flex flex-column vh-100 custom-gradient">
  <!-- top: Logo and Title -->
  <div class="row">
    <div class="col-12 d-flex justify-content-start align-items-center ">
      <!-- <img src="path_to_logo_image" alt="Company Logo" class="logo"> -->
      <i class="bi bi-heart-pulse display-1"></i>
      <h1 class="text-uppercase ms-4">Radiography Resource Network</h1>
    </div>
  </div>

  <!-- middle: Content -->
  <div class="d-flex justify-content-start align-items-center flex-grow-1">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-md-8 text-start">
          <p class="display-1 text-uppercase">THE NEXT BIG THING IS HERE!</p>
          <p class="display-6 text-uppercase text-muted">Oh, and we can’t wait to bring the best of the world to you.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- bottom: Stay Informed -->
  <div class="mb-3">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6">
          <div class="bottom-content">
            <h2 class="text-uppercase">Stay Updated</h2>
            <p class="text-uppercase small text-muted">Sign up to stay in the loop
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <form class="row g-3">
            <div class="col-md-12">
              <label for="email" class="form-label text-uppercase">Email</label>
              <div class="input-group">
                <input id="email" type="email" class="form-control" placeholder="GET AN EMAIL">
                <a href="https://forms.gle/b9oVbWYRXt6E7q3K9" target="_blank" id="submit"
                  class="btn btn-outline-dark text-uppercase"><i class="bi bi-envelope-at-fill me-2"></i>Stay
                  Informed</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- features -->
<rrn-landing-features></rrn-landing-features>