/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";

/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}